<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<head>
    <title>Login</title>
</head>
<h1> Bienvenido </h1>


<form method="post">
{% csrf_token %}
{{form}}
<button type="submit">Login</button>
<p><a href="http://172.24.98.170:8080/api/create-user-2">¿Aún no tienes cuenta? Regístrate aquí</a></p>
</form>